/*
 *	WebFont Package Licensed to GIULIO MOSCARITOLO
 */

/* Morion Semibold */
@font-face {
	font-family: Morion;
	src:	url('eot/Morion Semibold.eot'); /* IE9 Compat Modes */
	src:	url('eot/Morion Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('woff2/Morion Semibold.woff2') format('woff2'), /* Super Modern Browsers */
			url('woff/Morion Semibold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

